:root {

    --theme-palette-color-1: #2872fa;
    --theme-palette-color-2: #1559ed;
    --theme-palette-color-3: #3A4F66;
    --theme-palette-color-4: #192a3d;
    --theme-palette-color-5: #e1e8ed;
    --theme-palette-color-6: #f2f5f7;
    --theme-palette-color-7: #FAFBFC;
    --theme-palette-color-8: #ffffff;
    --theme-palette-color-9: #9e6161; 
    
}

h1 {
    --theme-font-weight: 700;
    --theme-font-size: 40px;
    --theme-line-height: 1.5;
}

h2 {
    --theme-font-weight: 700;
    --theme-font-size: 35px;
    --theme-line-height: 1.5;
}

h3 {
    --theme-font-weight: 700;
    --theme-font-size: 30px;
    --theme-line-height: 1.5;
}

h4 {
    --theme-font-weight: 700;
    --theme-font-size: 25px;
    --theme-line-height: 1.5;
}

h5 {
    --theme-font-weight: 700;
    --theme-font-size: 20px;
    --theme-line-height: 1.5;
}

h6 {
    --theme-font-weight: 700;
    --theme-font-size: 16px;
    --theme-line-height: 1.5;
}