:root {
    --theme-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --theme-font-weight: 400;
    --theme-text-transform: none;
    --theme-text-decoration: none;
    --theme-font-size: 16px;
    --theme-line-height: 1.65;
    --theme-letter-spacing: 0em;
    --theme-button-font-weight: 500;
    --theme-button-font-size: 15px;
    --has-classic-forms: var(--true);
    --has-modern-forms: var(--false);
    --theme-form-field-border-initial-color: var(--theme-border-color);
    --theme-form-field-border-focus-color: var(--theme-palette-color-1);
    --theme-form-selection-field-initial-color: var(--theme-border-color);
    --theme-form-selection-field-active-color: var(--theme-palette-color-1);
    --theme-palette-color-1: #2872fa;
    --theme-palette-color-2: #1559ed;
    --theme-palette-color-3: #3A4F66;
    --theme-palette-color-4: #192a3d;
    --theme-palette-color-5: #e1e8ed;
    --theme-palette-color-6: #f2f5f7;
    --theme-palette-color-7: #FAFBFC;
    --theme-palette-color-8: #ffffff;
    --theme-palette-color-9: #9e6161;
    --theme-text-color: var(--theme-palette-color-3);
    --theme-link-initial-color: var(--theme-palette-color-1);
    --theme-link-hover-color: var(--theme-palette-color-2);
    --theme-selection-text-color: #ffffff;
    --theme-selection-background-color: var(--theme-palette-color-1);
    --theme-border-color: var(--theme-palette-color-5);
    --theme-headings-color: var(--theme-palette-color-4);
    --theme-content-spacing: 1.5em;
    --theme-button-min-height: 44px;
    --theme-button-shadow: none;
    --theme-button-transform: none;
    --theme-button-text-initial-color: #ffffff;
    --theme-button-text-hover-color: #ffffff;
    --theme-button-background-initial-color: var(--theme-palette-color-1);
    --theme-button-background-hover-color: var(--theme-palette-color-2);
    --theme-button-border: none;
    --theme-button-border-radius: 3px;
    --theme-button-padding: 5px 20px;
    --theme-normal-container-max-width: 1235px;
    --theme-content-vertical-spacing: 170px;
    --theme-container-edge-spacing: 82vw;
    --theme-narrow-container-max-width: 400px;
    --theme-wide-offset: 130px;
}

h1 {
    --theme-font-weight: 700;
    --theme-font-size: 40px;
    --theme-line-height: 1.5;
}

h2 {
    --theme-font-weight: 700;
    --theme-font-size: 35px;
    --theme-line-height: 1.5;
}

h3 {
    --theme-font-weight: 700;
    --theme-font-size: 30px;
    --theme-line-height: 1.5;
}

h4 {
    --theme-font-weight: 700;
    --theme-font-size: 25px;
    --theme-line-height: 1.5;
}

h5 {
    --theme-font-weight: 700;
    --theme-font-size: 20px;
    --theme-line-height: 1.5;
}

h6 {
    --theme-font-weight: 700;
    --theme-font-size: 16px;
    --theme-line-height: 1.5;
}